[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/ds-note"]
	path = lib/ds-note
	url = https://github.com/dapphub/ds-note
[submodule "lib/ds-auth"]
	path = lib/ds-auth
	url = https://github.com/dapphub/ds-auth
[submodule "lib/ds-proxy"]
	path = lib/ds-proxy
	url = https://github.com/dapphub/ds-proxy
[submodule "lib/ds-exec"]
	path = lib/ds-exec
	url = https://github.com/dapphub/ds-exec
[submodule "lib/ds-math"]
	path = lib/ds-math
	url = https://github.com/dapphub/ds-math
[submodule "lib/erc20"]
	path = lib/erc20
	url = https://github.com/dapphub/erc20
[submodule "lib/ds-weth"]
	path = lib/ds-weth
	url = https://github.com/dapphub/ds-weth
[submodule "lib/ds-thing"]
	path = lib/ds-thing
	url = https://github.com/dapphub/ds-thing
[submodule "lib/ds-stop"]
	path = lib/ds-stop
	url = https://github.com/dapphub/ds-stop
[submodule "lib/ds-token"]
	path = lib/ds-token
	url = https://github.com/dapphub/ds-token
[submodule "lib/ds-roles"]
	path = lib/ds-roles
	url = https://github.com/dapphub/ds-roles
